venv/
.env

.vscode/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

migrations/versions/*.py

flaskr/static/images/uploads/cover/*.jpg
flaskr/static/images/uploads/cover/*.jpeg
flaskr/static/images/uploads/cover/*.png
flaskr/static/images/uploads/cover/*.jfif
flaskr/static/images/uploads/cover/*.webp

flaskr/static/images/uploads/profile/*.jpg
flaskr/static/images/uploads/profile/*.jpeg
flaskr/static/images/uploads/profile/*.png
flaskr/static/images/uploads/profile/*.jfif
flaskr/static/images/uploads/profile/*.webp

flaskr/static/images/uploads/eventCover/*.jpg
flaskr/static/images/uploads/eventCover/*.jpeg
flaskr/static/images/uploads/eventCover/*.png
flaskr/static/images/uploads/eventCover/*.jfif
flaskr/static/images/uploads/eventCover/*.webp

flaskr/static/images/uploads/eventPhotos/*.jpg
flaskr/static/images/uploads/eventPhotos/*.jpeg
flaskr/static/images/uploads/eventPhotos/*.png
flaskr/static/images/uploads/eventPhotos/*.jfif
flaskr/static/images/uploads/eventPhotos/*.webp
