{% extends "layout.html" %}

{% block title %} Reset password {% endblock %}

{% block content %}
<div class="container form-brand">
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-md-10 offset-md-1">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/default/Logos/FINDER-Dark.png') }}" alt="Brand Logo"
                    width="180px">
            </div>
            <div class="mt-4">
                <div class="card card-body shadow-card p-4">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div>
                            {{ form.password.label(class="form-label mb-0") }}
                            {% if form.password.errors %}
                            {{ form.password(class="form-control input-box is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-control input-box", id="password") }}
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            {{ form.c_password.label(class="form-label mb-0") }}
                            {% if form.c_password.errors %}
                            {{ form.c_password(class="form-control input-box is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.c_username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.c_password(class="form-control input-box", id="c_password") }}
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            {{form.submit(class="btn btn-dark form-control")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}