.cover-location {
    position: relative;
}

.cover-bg {
    background-color: rgba(15, 15, 15, 0.055);
}

.event-image {
    margin: 0;
    width: 100%;
    height: 450px;
    border-radius: 5px;
}

.location-name {
    padding: 15px 25px;
    background-color: rgba(16, 16, 16, 0.5);
    width: 18rem;
    color: #f3f3f3;
    position: absolute;
    bottom: 15px;
    left: 30px;
    
}

.event-time {
    color: #EE3A3A;
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: bold;
}

.event-name-style{
    font-weight: bolder;  
    font-size: 1.5rem;
    margin-top: 0;
}

.btn-nav, .btn-nav:focus {
    min-width: 120px;
    color: #101010;
}

.active, .btn-nav:hover {
    background-color: #101010 !important;
    color: #f6f6f6 !important;
}

.event-status-top-bar {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 10px 15px;
}

.link-icon-dark {
    color: #101010;
    padding: 0;
}

.link-icon-dark:hover {
    color: #101010;
}

.icon-dark:hover {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.host-details-img{
    border-radius: 50%;
    border: 3px solid rgba(241, 241, 241, 0.5);
    height: 150px;
    width: 150px;
}

.sm-icon {
    font-size: 14px;
}

.sm-img {
    width: 150px;
}

.next-prev-slider-btn {
    font-size: 2rem;
}

.host-img-post{
    border-radius: 50%;
    border: 3px solid rgba(241, 241, 241, 0.5);
    height: 40px;
    width: 40px;
}

.dropdown-edit:hover {
    background-color: #0d6efd;
    color: #f8f9fa;
}

.dropdown-delete:hover {
    background-color: #dc3545;
    color: #f8f9fa
}

.btn-vote-comment:hover, .btn-clicked {
    background-color: #101010;
    color: #ffffff;
}

.pending-member-img {
    border-radius: 50%;
    border: 3px solid rgba(241, 241, 241, 0.5);
    height: 100px;
    width: 100px;
}

.comment-img-post {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.reply-img-post {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.day-title {
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    color: #dc3545;
}

.day-title:before {
    content: "";
    display: inline-block;
    height: 0.9rem;
    width: 2px;
    background-color: #101010;
}
/* message */
.msg-container{
    max-width: 500 !important;
    margin: auto;
    margin-top: 2%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.msg-header{
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #000000;
}
.title{
    float: left;
    margin-top: 10px;
}
.title h4{
    font-size: 20px;
    margin-left: 10px;
    color: #ffff;
}
.title h6{
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: #ffff;
}
.chat-page{
    padding: 0 0 50px 0;
}
.msg-page{
    height: 516px;
    overflow-y: scroll; 
}
.msg-page::-webkit-scrollbar {
    display: none;
}
.message-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.recieved-msg{
    background-color: #ececec;
    color: #101010;
    border-radius: 5px;
}
.outgoing-msg{
    background-color: #101010;
    color: #ffffff;
    border-radius: 5px;
}
.text-container{
    width: 60%;
}