<nav class="navbar navbar-expand-lg navbar-light navigation-bar">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('mains.homepage') }}">
            <img src="{{ url_for('static', filename='images/default/Logos/FINDER-Light.png') }}" alt="Brand Logo"
                class="nav-brand-logo">
        </a>
        <div class="nav-item sm-screen">
            <form action="{{ url_for('mains.search') }}" method="post" class="d-flex">
                {{ s_form.hidden_tag() }}
                {{ s_form.search(class="form-control search-bar", id="search") }}
                {{ s_form.submit(class="btn search-btn") }}
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars nav-menu-three-bar"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="nav-item ms-4 big-screen">
                    <form action="{{ url_for('mains.search') }}" method="post" class="d-flex">
                        {{ s_form.hidden_tag() }}
                        {{ s_form.search(class="form-control search-bar-sm", id="search") }}
                        {{ s_form.submit(class="btn search-btn") }}
                    </form>
                </div>
                <ul class="navbar-nav ms-auto mb-lg-0 big-screen">
                    <div class="d-flex {{'d-none' if not current_user.is_authenticated}}">
                        <li class="nav-item me-1">
                            {% if current_user.role and current_user.role.value == "host" %}
                            <a href="{{ url_for('events.create_event') }}" type="button"
                                class="btn btn-infos position-relative" title="Create a event">
                                <i class="fas fa-plus"></i>
                            </a>
                            {% elif current_user.role and current_user.role.value == "admin" %}
                            <a href="{{ url_for('events.create_event') }}" type="button"
                                class="btn btn-infos position-relative" title="Create a event">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a href="{{ url_for('admins.dashboard') }}" type="button"
                                class="btn btn-infos position-relative" title="Admin dashboard">
                                <i class="fas fa-user-shield"></i>
                            </a>
                            {% else %}
                            <a href="{{ url_for('profiles.req_for_host') }}" type="button"
                                class="btn btn-infos position-relative" title="Apply for host">
                                <i class="fas fa-user-tie"></i>
                            </a>
                            {% endif %}
                        </li>
                        {% if current_user.profile %}
                        <li class="nav-item me-1">
                            <a href="{{ url_for('notifications.get_notifications') }}" type="button"
                                class="btn btn-infos position-relative">
                                <i class="bi bi-bell-fill"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ current_user.profile.total_unreaded_notifications() }}
                                    <span class="visually-hidden">unread notifications</span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        <div class="btn-group ms-2">
                            <a href="#" class="btn btn-infos dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-person-bounding-box"></i>
                                {% if current_user.is_authenticated %}
                                <span class="ms-1">{{ current_user.profile.get_fullname() }}</span>
                                {% else %}
                                <span class="ms-1">Anonymous</span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('users.view_user_profile') }}">
                                        <i class="bi bi-binoculars-fill"></i>
                                        <span class="ms-1">View Profile</span>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-chat-right-dots-fill"></i>
                                        <span class="ms-1">Messages</span>
                                    </a>
                                </li> -->
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('profiles.change_profile_info') }}">
                                        <i class="bi bi-gear-wide-connected"></i>
                                        <span class="ms-1">Account Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('profiles.bookmarks') }}">
                                        <i class="bi bi-journal-bookmark-fill"></i>
                                        <span class="ms-1">Bookmarks</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('profiles.events') }}">
                                        <i class="bi bi-calendar2-event-fill"></i>
                                        <span class="ms-1">Your Events</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('profiles.view_complains') }}">
                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                        <span class="ms-1">Complains</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a href="{{ url_for('users.logout_user') }}" class="dropdown-item">
                                        <i class="bi bi-box-arrow-left"></i>
                                        <span class="ms-1">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex {{'d-none' if current_user.is_authenticated}}">
                        <li class="nav-item me-1">
                            <a href="{{ url_for('users.register_user') }}"
                                class="btn btn-auth {{ 'btn-active' if active == 'register' }}">Register</a>
                            <a href="{{ url_for('users.login_user') }}"
                                class="btn btn-auth {{ 'btn-active' if active == 'login' }}">Login</a>
                        </li>
                    </div>
                </ul>
                <div class="d-flex flex-column">
                    <form action="{{ url_for('mains.search') }}" method="post" class="d-flex flex-row xsm-screen">
                        {{ s_form.hidden_tag() }}
                        {{ s_form.search(class="form-control search-bar-sm", id="search") }}
                        {{ s_form.submit(class="btn search-btn-sm") }}
                    </form>
                    <div class="d-flex flex-column sm-screen {{'d-none' if not current_user.is_authenticated}}">
                        {% if current_user.role and current_user.role.value == "host" %}
                        <a href="{{ url_for('events.create_event') }}" type="button" class="btn mt-1 btn-infos">
                            <i class="fas fa-plus"></i>
                            <span class="ms-1">Create Event</span>
                        </a>
                        {% elif current_user.role and current_user.role.value == "admin" %}
                        <a href="{{ url_for('events.create_event') }}" type="button" class="btn mt-1 btn-infos">
                            <i class="fas fa-plus"></i>
                            <span class="ms-1">Create Event</span>
                        </a>
                        <a href="{{ url_for('admins.dashboard') }}" type="button" class="btn mt-1 btn-infos">
                            <i class="fas fa-user-shield"></i>
                            <span class="ms-1">Admin Dashboard</span>
                        </a>
                        {% else %}
                        <a href="{{ url_for('profiles.req_for_host') }}" type="button" class="btn mt-1 btn-infos">
                            <i class="fas fa-user-tie"></i>
                            <span class="ms-1">Apply for Host</span>
                        </a>
                        {% endif %}
                        {% if current_user.profile %}
                        <a href="{{ url_for('notifications.get_notifications') }}" class="btn mt-1 btn-infos">
                            <i class="bi bi-bell-fill"></i>
                            {% if current_user.profile.total_unreaded_notifications() != 0 %}
                            <span class="ms-1">View Notifications <span class="text-danger">({{
                                    current_user.profile.total_unreaded_notifications() }})</span></span>
                            {% else %}
                            <span class="ms-1">View Notifications</span>
                            {% endif %}
                        </a>
                        {% endif %}
                        <a href="{{ url_for('users.view_user_profile') }}" class="btn mt-1 btn-infos">
                            <i class="bi bi-binoculars-fill"></i>
                            <span class="ms-1">View Profile</span>
                        </a>
                        <a href="#" class="btn mt-1 btn-infos">
                            <i class="bi bi-chat-right-dots-fill"></i>
                            <span class="ms-1">Messages</span>
                        </a>
                        <a href="{{ url_for('profiles.change_profile_info') }}" class="btn mt-1 btn-infos">
                            <i class="bi bi-gear-wide-connected"></i>
                            <span class="ms-1">Account Settings</span>
                        </a>
                        <a href="{{ url_for('profiles.bookmarks') }}" class="btn mt-1 btn-infos">
                            <i class="bi bi-journal-bookmark-fill"></i>
                            <span class="ms-1">Bookmarks</span>
                        </a>
                        <a href="{{ url_for('profiles.events') }}" class="btn mt-1 btn-infos">
                            <i class="bi bi-calendar2-event-fill"></i>
                            <span class="ms-1">Your Events</span>
                        </a>
                        <a href="{{ url_for('profiles.view_complains') }}" class="btn mt-1 btn-infos">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            <span class="ms-1">Complains</span>
                        </a>
                        <a href="#" class="btn mt-1 btn-infos">
                            <i class="bi bi-pc-display"></i>
                            <span class="ms-1">Admin Dashboard</span>
                        </a>
                        <a href="{{ url_for('users.logout_user') }}" class="btn mt-1 btn-infos">
                            <i class="bi bi-box-arrow-left"></i>
                            <span class="ms-1">Logout</span>
                        </a>
                    </div>
                    <div class="d-flex flex-column sm-screen {{'d-none' if current_user.is_authenticated}}">
                        <a href="{{ url_for('users.register_user') }}"
                            class="btn mt-1 btn-auth {{ 'btn-active' if active == 'register' }}">Register</a>
                        <a href="{{ url_for('users.login_user') }}"
                            class="btn mt-1 btn-auth {{ 'btn-active' if active == 'login' }}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>