{% extends "layout.html" %}

{% block title %} {{ searched }} {% endblock %}

{% block add_styles %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="fw-bold" style="font-size: 1.2rem;">Events</div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% if len(events) == 0 %}
            <p class="text-center fw-bold">No events found</p>
        {% else %}
        {% for event in events %}
        <div class="col">
            <div class="card shadow-card event-card h-100">
                <img src="{{ url_for('static', filename=event.cover_photo) }}" class="card-img-top event-card-img"
                    alt="Cover photo of the event">
                <div class="card-body">
                    <h6 class="card-title fw-bold">{{ event.title }}</h6>
                    <div class="card-text text-{{ event.event_status().category }} fw-bold mb-1">
                        {{ event.event_status().message }}
                    </div>
                    <div class="card-text">
                        <strong><i class="fas fa-map-marker-alt"></i> Location: </strong>
                        {{ event.place_name }}
                    </div>
                    <div class="card-text">
                        <strong><i class="fas fa-clock"></i> Date: </strong>
                        {{ event.get_start_date() }} at {{ event.get_start_time() }}
                    </div>
                    <div class="card-text">
                        <strong><i class="fas fa-user-tie"></i> Host: </strong>
                        <a href="{{ url_for('profiles.view_profile', id=event.host.id) }}" class="text-reset">
                            {{ event.host.get_fullname() }}
                        </a>
                    </div>
                    <div class="card-text">
                        <strong><i class="fas fa-money-check-alt"></i> Register Fee: </strong>
                        {{ event.fee }} Taka
                    </div>
                    <div class="card-text">
                        <strong><i class="fas fa-users"></i> Members: </strong>
                        {{ len(event.members) if event.members else 0 }} out of {{ event.max_member }}
                    </div>
                    <a href="{{ url_for('events.view_event', id=event.id) }}" class="btn btn-dark w-100 btn-sm mt-3">
                        Explore the event
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row mt-3">
        <div class="fw-bold" style="font-size: 1.2rem;">Profiles</div>
        {% if len(profiles) == 0 %}
            <p class="text-center fw-bold">No profiles found</p>
        {% else %}
        {% for profile in profiles %}
        <div class="mb-2 col-md-12 col-lg-6">
            <div class="px-1">
                <div class="card card-body shadow-card">
                    <div class="d-flex flex-row">
                        <img src="{{ url_for('static', filename=profile.profile_photo) }}" alt=""
                            class="card-img align-self-center">
                        <a href="{{ url_for('profiles.view_profile', id=profile.id) }}"
                            class="d-flex flex-column align-self-center card-link-custom ms-3">
                            <h2 class="card-title-custom my-0">{{ profile.get_fullname() }}</h2>
                            <p class="card-body-custom my-0"><i class="fas fa-external-link-alt"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}